/* Style the tab */
#tabs {
  overflow: auto;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  /* opacity: 0; */
  font-family: Arial;
  /* -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; */
  /* z-index: 2; */
  /* flex-grow: .1; */
   flex-shrink: 0;
  /* min-height: 2em; */
  /* min-height: 10px; */
}

/* Style the buttons that are used to open the tab content */
#tabs button {
  background-color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
#tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
#tabs button.active {
  background-color: #ccc;
}
