* {
  margin: 0;
  padding: 0;
}

#menuprincipal {
  padding: 0% 0%;
  background-color: #9FC8D9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

ul, ol {
  list-style:none;
}

#listamenu > li {
  float:left;
}

#listamenu li a {
  text-decoration:none;
  background-color: #9FC8D9;
  color: #222222;
  padding:10px 12px;
  display:block;
}

#listamenu li a:hover {
  background-color:#6FACC6;
}

#listamenu li ul {
  display:none;
  position:absolute;
  min-width:140px;
  z-index: 1000;
  background-color: #9FC8D9;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.7);
}

#listamenu li:hover > ul {
  display:block;
}

#listamenu li ul li {
  position:relative;
}

#listamenu li ul li ul {
  right:-140px;
  top:0px;
}

input[type=file] {
  display: none;
}
